html {
    background: #131217;
    margin: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Nunito', Arial, sans-serif;
    color: #d9d7e0;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 { 
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
 
h2 {
    letter-spacing: 2px;
}
header h2 {
    color: #999999;
    font-size: 1.3em;
}
div h2 {
    font-size: 1.3em;
}

h3 { 
    color: #d9d7e0;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 0;
}


p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Serif', Times, serif;
    color: #d9d7e0;
    font-size: .9em;
    letter-spacing: 1px;
}


h3 + p {
    text-transform: uppercase;
    font-family: 'Nunito', Arial, sans-serif;    
    color: #999999;
    letter-spacing: 1px;
}


ul li {
    font-family: 'Ubuntu', sans-serif;
    color: #999999;
    line-height: 1.4;
    padding-bottom: 10px;
    font-size: .9em;
}



header {
    text-align: center;
    padding: 40px;
}

footer p {
    text-align: center;
    font-family: 'Nunito', Arial, sans-serif; 
    padding: 30px;
}

a {
    color: steelblue;
}

a:hover {
    color: lightblue;
}

@media (min-width: 850px) {
    .col-left {
        width: 25%;
        float: left;
        padding-right: 5%;
        display: inline;
        min-height: 100px;
    }
    .col-right{ 
        width: 70%;
        float: left;
        display: inline;
        min-height: 100px;    
    }

    .col-1 {
        width: 50%;
        float: left;
    }
    .col-2 {
        width: 50%;
        float: left;
    }
}

i {
    color: #d9d7e0;
    margin-top: 10px;
    margin-right: 7px;
}

i:hover{
    color: #999999;
}